<template>
    <div class="contrato_user">
        <div class = "container_contrato_user">
            <h2> Contrato </h2>
            <form v-on:submit.prevent="processTransaction">
                <input type="text" v-model="informacion.transaction_data.note" placeholder="Nota">
                <br>
                <input type="number" v-model="horas"  placeholder="Horas del servicio">
                <br>
             
                <h3> Total a pagar: {{horas*costo_servicio}} </h3>
                
                <br>
                <button type="submit">Pagar</button>
                
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import jwt_decode from 'jwt-decode';
export default {
    name:"contrato",
    data:function(){
        return {
            horas:"",
            id_enfermero:"",
            costo_servicio:"",
            informacion:{
                "user_id":"",
                "transaction_data":{
                    "note":"",
                    "metodo_pago":"",
                        "contrato":{
                            "description":"",
                            "enfermero":"",
                            "user":""
                            }
                }
            }
        }
    },

    methods:{
        async processTransaction(){
            if(localStorage.getItem("token_refresh") === null || localStorage.getItem("token_access") === null) {
                this.$emit("visualContratoFalse");
                return ;
            }
            await this.verifyToken();

            let token  = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id;
            this.informacion.user_id = userId;
            this.informacion.transaction_data.contrato.user = userId;
            
            axios.post(
                'http://localhost:8000/transaction/',
                this.informacion,
                {headers: {'Authorization': `Bearer ${token}`}}
            )
            .then((result)=>{
                this.$emit("completedContrato")

            }).catch((error)=>{
                console.log(error)

            })


        },

        async getEnfermero(){
            this.id_enfermero = this.$route.params.id_enfermero
            await axios
                .get(`http://localhost:8000/enfermero/${this.id_enfermero}/`)
                .then((result)=>{
                    this.costo_servicio = result.data.costo_servicio
                    this.informacion.transaction_data.contrato.enfermero = result.data.id
                    this.informacion.transaction_data.metodo_pago = "Nequi"
                    this.informacion.transaction_data.contrato.description = `Se contrata al enfermero ${result.data.nombre} con un costo total de : ${result.data.costo_servicio}/hora`

                    
                    
                })
                .catch((error)=>{
                    console.log(error)

                })

        },
        verifyToken: async function(){
                return axios.post(
                        'http://localhost:8000/refresh/',
                        {refresh: localStorage.getItem("token_refresh")},
                        {headers:{}}
                    )
                    .then((result) => {
                        localStorage.setItem("token_access", result.data.access);
                    })
                    .catch((error) => {
                        
                        this.$emit("logOut"); // lo manda a que inicie sesion
                    })
            }



    },





    created:  function() {
      this.getEnfermero() 
  }


    //siguiente funcion
}



</script>


<style >


.contrato_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .container_contrato_user {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        
        
    }
    .contrato_user h2{
        color: white;
        padding-bottom:5px;
        padding-top:5px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        border-radius:100px;
        margin-bottom:60px;
    }

    .contrato_user h3{
        color: white;
        margin:10px 0px;
        background-color:#283747;
        border-radius:20px;
        padding-left:10px;
        
    }
    .contrato_user form{
        width: 70%;
    }
    .contrato_user input{
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 10px 0;
        border: 1px solid #283747;
    }
    .contrato_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 0 0 0 0;
    }
    .contrato_user button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }


</style>