<template>
    <div class="enfermero">
        <div  class="box_enfermero">
                <div>
                    <figure class = "image">
                        <img src ="../assets/logo_salud.png">
                    </figure>
                    <div id = "nombre">
                        <h3>{{enfermero.nombre}}</h3>
                        <h3 id="acerca_de_mi">~ Acerca de mi ~</h3>
                        <h3 id="descripcion"> {{enfermero.descripcion}}</h3>
                        <h3>Contacto : {{enfermero.contacto}}</h3>
                        <h3>Correo : {{enfermero.email}}</h3>
                        <h3>Especialidad: {{enfermero.especialidad}}</h3>
                        <h3>calificacion : {{enfermero.calificacion}}</h3>
                        <h3> Tipo de Servicios </h3>
                        <ul  id="lista">
                            
                            <li v-for="servicio in enfermero.tipos_de_servicio" :key="servicio" >
                                {{servicio}}
                            </li>
                        
                        </ul>
                    </div>
                    <div id="boton" >
                        <button  v-on:click="loadContrato" > Contratar </button>
                    </div>
                    
                    
                </div>
        </div>
    </div>

</template>


<script>
import axios      from 'axios';
import jwt_decode from 'jwt-decode';
export default{
    name:'enfermero',
    data(){
        return{
            enfermero:{},
            is_auth:false, // variable para comprobar que el usuario tiene token y acceso
            id_enfermero:""
        }

    },
    methods:{
        getVerify: async function(){
            // aca miraremos la verificacio
            if(localStorage.getItem("token_refresh") === null || localStorage.getItem("token_access") === null) {
                this.$emit("visualContratoFalse");
                return false ;
            }
            await this.verifyToken(); // al verificarse el toque la variable is_auth se vuelve true
            //estas dos variables no las usare
            let token  = localStorage.getItem("token_access"); // obtengo el token acceso 
            let userId = jwt_decode(token).user_id.toString(); // objeto el user_id que va en el token
            return true
        },
        
        async loadContrato(){
            this.is_auth= await this.getVerify();
            
            if (this.is_auth===true){
                this.$emit("visualContrato",this.id_enfermero)


            }
            else{
                alert("Validacion incorrecta - Inicie sesion ->")
            }
            // que hago al hacer click en el boton de contrato ?

        },


        async getEnfermero(){
            const nombre = this.$route.params.nombre
            this.id_enfermero = this.$route.params.id
            await axios
                .get(`http://localhost:8000/enfermero/${this.id_enfermero}/`)
                .then((result)=>{
                    this.enfermero = result.data
                
                })
                .catch((error)=>{
                    console.log(error)

                })

        },
        verifyToken: async function(){
                return axios.post(
                        'http://localhost:8000/refresh/',
                        {refresh: localStorage.getItem("token_refresh")},
                        {headers:{}}
                    )
                    .then((result) => {
                        localStorage.setItem("token_access", result.data.access);
                    })
                    .catch((error) => {
                        
                        this.$emit("logOut"); // lo manda a que inicie sesion
                    })
            }


    },
    created:  function() {
      this.getEnfermero() 
  }

}
</script>


<style >

.box_enfermero img{
    border-radius:30px;
    width: 3.8vw;
    height: 4vw;
    margin: .2vw 0 0 1.3vw;
    margin-left:auto;
    margin-right:auto;
    display:block;
    }
.box_enfermero {
    
    margin-top: 5vh;
    margin-bottom: 2vh;
    background-color: white;
    width: 100%;
    height: 73vh;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: -10px 10px 20px rgb(116, 116, 116);
    background-image: url(../assets/por.png);
    background-size:cover;

    
}


.box_enfermero div{
    text-align: center;
    padding: 15px 0;
    align-content:center;
    justify-content:space-between;
    
}

.enfermero {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

#nombre{
    text-align: center;
    padding-left: 0;
    
}
#nombre h3{
    padding-top: 10px;
    padding-left: center;
}

#boton{
    padding-top: 30px;
    position: absolute;
    padding-left: 37.8%;
}



</style>