<template>
  
  <div id ="app" class="app">

    <div class="header">
      <img src="./assets/logo_salud.png" alt="logo">
      
      <h1>Healthy_App</h1>
    
      <nav>
        <button v-on:click="loadHome"  > Inicio </button>

        <button id="cerrar_sesion" v-if="is_auth" v-on:click="logOut"    > Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn"> Iniciar Sesion </button>
        <button v-if="!is_auth" v-on:click="loadSignUp"> Registrarse </button>  
      </nav>
      
    </div>

    <div class ="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
        v-on:visualContratoFalse="visualContratoFalse"
        v-on:visualContrato="visualContrato"
        v-on:completedContrato="completedContrato"
        >
      </router-view>
    </div>

    <div class="footer"> <!--INFORMACION QUE SALE EN EL PIE DE PAGINA COMO COPYRIGHT O INFORMACION-->
      <h2>MisionTic 2022 - p5 Course By:Manuel cely</h2>
    </div>

  </div>


</template>

<script>
  
  export default{
    name:'App',
    data: function() {
      return{
        is_auth:false
      }
      
    },
    methods:{ /*todo lo que sean funciones javascript van aqui*/

      //metodo para verificar, cambiar el estado de la variable is_auth
      verifyAuth: function() {
        this.is_auth = localStorage.getItem("isAuth") || false;
        if (this.is_auth == false)
          this.$router.push({ name: "logIn" });
        else
          this.$router.push({ name: "enfermeros" });
      },

      loadLogIn: function(){
        this.$router.push({name:"logIn"}) // vaya al router y renderize lo que este ruteado en el componente con el nombre logIn que esta en router.js
      },
      loadSignUp : function(){
        this.$router.push({name:"signUp"})
      },
      completedLogIn: function(data){
        localStorage.setItem("isAuth", true);
        localStorage.setItem("username", data.username);
        localStorage.setItem("token_access", data.token_access);
        localStorage.setItem("token_refresh", data.token_refresh);
        alert("Autenticación Exitosa");
        this.verifyAuth();
        
      },
      completedSignUp: function(data){
        alert("Registro Exitoso");
        this.completedLogIn(data);

      },

      loadHome: function() {
        this.$router.push({ name: "enfermeros" });
       
      },
      logOut: function () {
        localStorage.clear();
        alert("Sesión Cerrada");
        this.verifyAuth();
      },
      visualContratoFalse:function(){
        this.verifyAuth();
      },
      visualContrato:function(data){
        this.$router.push({path: `/contrato/${data}/`})
      },
      completedContrato:function(data){
        alert(`Contrato hecho exitosamente!`)
        this.verifyAuth();

      }

    },

    created:  function() {
      if(localStorage.getItem("isAuth")){
        this.is_auth=true;
      }
      this.loadHome();
      
  } 

  }
</script>


<style>
*{
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}
  body {
    background-color: #F4F4F4;
}

  .header{
    margin: 0; 
    padding: 0;
    text-align: center;
    background-image: url(./assets/fondo.png);
    width:100%;
    height: 15vh;
    background-size:cover;
    background-position: center;
    display:flex;
    justify-content:space-between;
    align-items:center;

  }

  .header img{
    border-radius:30px;
    width: 3.8vw;
    margin: .2vw 0 0 1.3vw;

    }
  .header h1{   
    padding-left: 200px;
    text-align:center;
    color: #283747;
  }


   .header nav {
    height:100%;
 
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-size:20px;
  }

    .header nav button{
    color:#E5E7E9;
    background: #283747;
    border:1px solid #E5E7E9;
    border-radius : 5px;
    padding: 10px 20px;
    width: auto;
  }

    .header nav button:hover{
    color: #283747;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }


    .main-component{
    margin:0%;
    padding:0%;
    background: #FDFEFE;
  }


   .footer{
    align-self:flex-end;
    margin:0%;
    padding:0%;
    width:100%;
    height:5vh ;
    background-image: url(./assets/fondo.png);
    color: #E5E7E9;
  }

  .footer h2{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
  }









</style>
